[Unit]
Description=awesome session
BindsTo=graphical-session.target
Requires=awesome.service
Wants=battery-notifier.timer
Wants=offlineimap.timer
Wants=nitrogen.service
Wants=nm-applet.service
Wants=compton.service
Wants=numlockx.service
Wants=redshift.service
Wants=suspend.service
Wants=ssh-agent.service
Wants=dunst.service
Wants=sxhkd.service
