[Unit]
Description=dwm session
BindsTo=graphical-session.target
Requires=dwm.service
Wants=dwm-statusbar.service
Wants=battery-notifier.timer
Wants=offlineimap.timer
Wants=nm-applet.service
Wants=compton.service
Wants=numlockx.service
Wants=redshift.service
Wants=suspend.service
Wants=ssh-agent.service
Wants=dunst.service
Wants=sxhkd.service
