[Unit]
Description=dwm
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/dwm
ExecStopPost=systemctl --user stop graphical-session.target
Restart=on-failure
