[Unit]
Description=dwm
PartOf=graphical-session.target

[Service]
ExecStart=dwm
ExecStopPost=systemctl --user stop graphical-session.target
Restart=on-failure
