[Unit]
Description=Suspend screen after 15 minutes
PartOf=graphical-session.target

[Service]
ExecStart=xautolock -detectsleep -time 15 -locker "systemctl suspend"
