suckless/dwm/dwm
suckless/st/st
suckless/slock/slock
suckless/tabbed/tabbed
suckless/tabbed/xembed
suckless/dmenu/dmenu
suckless/dmenu/stest
.config/nvim/spell/en.utf-8.add
.config/nvim/spell/en.utf-8.add.spl
.config/nvim/spell/pt.utf-8.add
.config/nvim/spell/pt.utf-8.add.spl
suckless/**/*.o
*.rej
*.orig
.mutt/aliases
.vagrant
roles/gantsign.visual-studio-code
.config/nvim/pack/plugins/opt/fzf
venv
.config/efm-langserver/efmlangserver.log
.DS_Store
.config/Code/
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
