[submodule "neovim"]
	path = deps/nvim
	url = https://github.com/neovim/neovim
	ignore = dirty
[submodule "fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule "git-toolbelt"]
	path = git-toolbelt
	url = https://github.com/nvie/git-toolbelt
	ignore = dirty
[submodule "packer.nvim"]
	path = .config/nvim/pack/plugins/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
