[user]
    email = phelipe_teles@hotmail.com
    name = "Phelipe Teles"
[commit]
    verbose = true
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = nvim
    attributesfile = /home/phelipe/.gitattributes
[merge]
    tool = diffconflicts
[mergetool "nvim"]
    cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
[mergetool "diffconflicts"]
    cmd = nvim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
    keepBackup = false
[mergetool "vscode"]
    cmd = code --wait $MERGED
[push]
    default = current
[rebase]
    autosquash = true
[blame]
    date = relative
[alias]
    co = checkout
    st = status
    ci = commit
    l = log --abbrev-commit --oneline --graph --decorate
    rb = rebase
    cp = cherry-pick
    ctags = !.git/hooks/ctags
    recent = branch -v --sort=-committerdate
    undo = reset --soft HEAD^
    recommit = commit -c ORIG_HEAD
    current-branch = rev-parse --abbrev-ref HEAD
    spinoff = !git-spinoff
    track = branch --set-upstream-to
    cb = !git-cb
[credential]
    helper = cache
[credential "https://github.com"]
    username = phelipetls
[color]
    [diff]
        meta = "11"
        frag = "magenta bold"
        commit = "yellow bold"
        old = "red bold"
        new = "green bold"
        whitespace = "red reverse"
    [diff-highlight]
        oldNormal = "red bold"
        oldHighlight = "red bold 52"
        newNormal = "green bold"
        newHighlight = "green bold 22"
