[submodule "vim-hugo"]
	path = .config/nvim/pack/plugins/opt/vim-hugo
	url = https://github.com/phelipetls/vim-hugo
	ignore = dirty
[submodule "vim-fugitive"]
	path = .config/nvim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim-surround"]
	path = .config/nvim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim-commentary"]
	path = .config/nvim/pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = dirty
[submodule "vim-repeat"]
	path = .config/nvim/pack/plugins/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = dirty
[submodule "vim-unimpaired"]
	path = .config/nvim/pack/plugins/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "vim-speeddating"]
	path = .config/nvim/pack/plugins/opt/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
	ignore = dirty
[submodule "vim-abolish"]
	path = .config/nvim/pack/plugins/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish
	ignore = dirty
[submodule "traces.vim"]
	path = .config/nvim/pack/plugins/opt/traces.vim
	url = https://github.com/markonm/traces.vim
	ignore = dirty
[submodule "vim-slime"]
	path = .config/nvim/pack/plugins/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
	ignore = dirty
[submodule "vim-obsession"]
	path = .config/nvim/pack/plugins/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
	ignore = dirty
[submodule "vim-dirvish"]
	path = .config/nvim/pack/plugins/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
	ignore = dirty
[submodule "vim-lion"]
	path = .config/nvim/pack/plugins/opt/vim-lion
	url = https://github.com/tommcdo/vim-lion
	ignore = dirty
[submodule "nvim-treesitter"]
	path = .config/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/phelipetls/nvim-treesitter.git
	ignore = dirty
[submodule "coc.nvim"]
	path = .config/nvim/pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	ignore = dirty
[submodule "fugitive-gitlab.vim"]
	path = .config/nvim/pack/plugins/opt/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
	ignore = dirty
[submodule "vim-rhubarb"]
	path = .config/nvim/pack/plugins/opt/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
	ignore = dirty
[submodule "neovim"]
	path = deps/nvim
	url = https://github.com/neovim/neovim
	ignore = dirty
[submodule "fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule "git-toolbelt"]
	path = git-toolbelt
	url = https://github.com/nvie/git-toolbelt
	ignore = dirty
[submodule "vim-sleuth"]
	path = .config/nvim/pack/plugins/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
[submodule "inline_edit.vim"]
	path = .config/nvim/pack/plugins/opt/inline_edit.vim
	url = https://github.com/AndrewRadev/inline_edit.vim
	ignore = dirty
[submodule "nvim-ts-context-commentstring"]
	path = .config/nvim/pack/plugins/opt/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
	ignore = dirty
[submodule "LargeFile"]
	path = .config/nvim/pack/plugins/opt/LargeFile
	url = https://github.com/vim-scripts/LargeFile
	ignore = dirty
[submodule "nvim-treesitter-textobjects"]
	path = .config/nvim/pack/plugins/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
	ignore = dirty
[submodule "vim-fugitive-blame-ext"]
	path = .config/nvim/pack/plugins/opt/vim-fugitive-blame-ext
	url = https://github.com/tommcdo/vim-fugitive-blame-ext
	ignore = dirty
[submodule "vim-jqplay"]
	path = .config/nvim/pack/plugins/opt/vim-jqplay
	url = https://github.com/phelipetls/vim-jqplay
	ignore = dirty
[submodule "plenary.nvim"]
	path = .config/nvim/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
	ignore = dirty
[submodule "jsonpath.nvim"]
	path = .config/nvim/pack/plugins/opt/jsonpath.nvim
	url = https://github.com/phelipetls/jsonpath.nvim
	ignore = dirty
[submodule "fzf-lua"]
	path = .config/nvim/pack/plugins/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
	ignore = dirty
[submodule "treesj"]
	path = .config/nvim/pack/plugins/opt/treesj
	url = https://github.com/Wansmer/treesj
	ignore = dirty
[submodule "impatient.nvim"]
	path = .config/nvim/pack/plugins/opt/impatient.nvim
	url = https://github.com/lewis6991/impatient.nvim
	ignore = dirty
[submodule "dsf.vim"]
	path = .config/nvim/pack/plugins/opt/dsf.vim
	url = https://github.com/AndrewRadev/dsf.vim
	ignore = dirty
[submodule "undotree"]
	path = .config/nvim/pack/plugins/opt/undotree
	url = https://github.com/mbbill/undotree
	ignore = dirty
[submodule "gv.vim"]
	path = .config/nvim/pack/plugins/opt/gv.vim
	url = https://github.com/junegunn/gv.vim
	ignore = dirty
[submodule "vim-twiggy"]
	path = .config/nvim/pack/plugins/opt/vim-twiggy
	url = https://github.com/sodapopcan/vim-twiggy
	ignore = dirty
[submodule "vim-dispatch"]
	path = .config/nvim/pack/plugins/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
	ignore = dirty
[submodule "vim-test"]
	path = .config/nvim/pack/plugins/opt/vim-test
	url = https://github.com/vim-test/vim-test
	ignore = dirty
[submodule "nvim-ufo"]
	path = .config/nvim/pack/plugins/opt/nvim-ufo
	url = https://github.com/kevinhwang91/nvim-ufo
	ignore = dirty
[submodule "promise-async"]
	path = .config/nvim/pack/plugins/opt/promise-async
	url = https://github.com/kevinhwang91/promise-async
	ignore = dirty
[submodule "statuscol.nvim"]
	path = .config/nvim/pack/plugins/opt/statuscol.nvim
	url = https://github.com/luukvbaal/statuscol.nvim
	ignore = dirty
[submodule "vim-lumen"]
	path = .config/nvim/pack/plugins/opt/vim-lumen
	url = https://github.com/vimpostor/vim-lumen
[submodule "lush.nvim"]
	path = .config/nvim/pack/plugins/opt/lush.nvim
	url = https://github.com/rktjmp/lush.nvim
[submodule "arctic.nvim"]
	path = .config/nvim/pack/plugins/opt/arctic.nvim
	url = https://github.com/rockyzhang24/arctic.nvim
