[user]
    email = phelipe_teles@hotmail.com
    name = "Phelipe Teles"
[commit]
    verbose = true
[core]
    pager = diff-so-fancy | less --tabs=4
    editor = nvim
    attributesfile = /home/phelipe/.gitattributes
[merge]
    tool = diffconflicts
[mergetool "nvimdiff2"]
    cmd = nvim -d -c 'wincmd l' "$LOCAL" "$MERGED" "$REMOTE"
[mergetool "diffconflicts"]
    cmd = nvim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
    keepBackup = false
[mergetool "vscode"]
    cmd = code --wait $MERGED
[push]
    default = current
[rebase]
    autosquash = true
[blame]
    date = relative
[alias]
    co = checkout
    st = status
    recent = branch -v --sort=-committerdate
    undo = reset --soft HEAD^
    recommit = commit --reedit-message ORIG_HEAD
    track = branch --set-upstream-to
[credential]
    helper = cache
[credential "https://github.com"]
    username = phelipetls
[color]
    [diff]
        meta = "11"
        frag = "magenta bold"
        commit = "yellow bold"
        old = "red bold"
        new = "green bold"
        whitespace = "red reverse"
    [diff-highlight]
        oldNormal = "red bold"
        oldHighlight = "red bold 52"
        newNormal = "green bold"
        newHighlight = "green bold 22"
[merge "npm-merge-driver"]
    name = automatically merge npm lockfiles
    driver = npx npm-merge-driver merge %A %O %B %P
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
