suckless/dwm/dwm
suckless/st/st
suckless/slock/slock
suckless/tabbed/tabbed
suckless/dmenu/dmenu
.config/nvim/spell/en.utf-8.add
.config/nvim/spell/en.utf-8.add.spl
.config/nvim/spell/pt.utf-8.add
.config/nvim/spell/pt.utf-8.add.spl
suckless/**/*.o
*.rej
*.orig
