[submodule "vim-hugo"]
	path = .config/nvim/pack/plugins/opt/vim-hugo
	url = https://github.com/phelipetls/vim-hugo
	ignore = dirty
[submodule "fzf.vim"]
	path = .config/nvim/pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	ignore = dirty
[submodule "vim-simple-complete"]
	path = .config/nvim/pack/plugins/opt/vim-simple-complete
	url = https://github.com/phelipetls/vim-simple-complete
	ignore = dirty
[submodule "vim-fugitive"]
	path = .config/nvim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "vim-surround"]
	path = .config/nvim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim-commentary"]
	path = .config/nvim/pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = dirty
[submodule "vim-repeat"]
	path = .config/nvim/pack/plugins/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = dirty
[submodule "vim-unimpaired"]
	path = .config/nvim/pack/plugins/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "vim-speeddating"]
	path = .config/nvim/pack/plugins/opt/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
	ignore = dirty
[submodule "vim-abolish"]
	path = .config/nvim/pack/plugins/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish
	ignore = dirty
[submodule "traces.vim"]
	path = .config/nvim/pack/plugins/opt/traces.vim
	url = https://github.com/markonm/traces.vim
	ignore = dirty
[submodule "vim-toml"]
	path = .config/nvim/pack/plugins/opt/vim-toml
	url = https://github.com/cespare/vim-toml
	ignore = dirty
[submodule "vim-dadbod"]
	path = .config/nvim/pack/plugins/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
	ignore = dirty
[submodule "emmet-vim"]
	path = .config/nvim/pack/plugins/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
	ignore = dirty
[submodule "vim-jinja"]
	path = .config/nvim/pack/plugins/opt/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja
	ignore = dirty
[submodule "vim-javascript"]
	path = .config/nvim/pack/plugins/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript
	ignore = dirty
[submodule "vim-jsx-pretty"]
	path = .config/nvim/pack/plugins/opt/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
	ignore = dirty
[submodule "nvim-lsp"]
	path = .config/nvim/pack/plugins/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
	ignore = dirty
[submodule "vim-slime"]
	path = .config/nvim/pack/plugins/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
	ignore = dirty
[submodule "AndreRadev/splitjoin"]
	path = .config/nvim/pack/plugins/opt/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
	ignore = dirty
[submodule "typescript-vim"]
	path = .config/nvim/pack/plugins/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
	ignore = dirty
[submodule "vim-obsession"]
	path = .config/nvim/pack/plugins/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
	ignore = dirty
[submodule "vim-dirvish"]
	path = .config/nvim/pack/plugins/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
	ignore = dirty
[submodule "editorconfig.vim"]
	path = .config/nvim/pack/plugins/opt/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	ignore = dirty
[submodule "vim-lion"]
	path = .config/nvim/pack/plugins/opt/vim-lion
	url = https://github.com/tommcdo/vim-lion
	ignore = dirty
[submodule "tagalong.vim"]
	path = .config/nvim/pack/plugins/opt/tagalong.vim
	url = https://github.com/AndrewRadev/tagalong.vim
	ignore = dirty
[submodule "gv.vim"]
	path = .config/nvim/pack/plugins/opt/gv.vim
	url = https://github.com/junegunn/gv.vim
	ignore = dirty
[submodule "nvim-treesitter"]
	path = .config/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	ignore = dirty
[submodule "playground"]
	path = .config/nvim/pack/plugins/opt/playground
	url = https://github.com/nvim-treesitter/playground
	ignore = dirty
[submodule "completion-nvim"]
	path = .config/nvim/pack/plugins/opt/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
	ignore = dirty
[submodule "yats.vim"]
	path = .config/nvim/pack/plugins/opt/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim/
	ignore = dirty
