#include "colors-wal.Xresources"

dwm.normfgcolor: color15
dwm.normbgcolor: background
dwm.normbordercolor: background
dwm.selfgcolor: color15
dwm.selbgcolor: color8
dwm.selbordercolor: color8
dwm.hidfgcolor: color8
dwm.hidbgcolor: background
