#include "colors-wal.Xresources"

dwm.normfgcolor: foreground
dwm.normbgcolor: background
dwm.normbordercolor: background
dwm.selfgcolor: foreground
dwm.selbgcolor: color8
dwm.selbordercolor: color8
dwm.hidfgcolor: color8
dwm.hidbgcolor: background
