dwm.normbgcolor: #222222
dwm.normbordercolor: #000000
dwm.normfgcolor: #ffffff
dwm.selfgcolor: #ffffff
dwm.selbordercolor: #535d6c
dwm.selbgcolor: #535d6c
dwm.hidfgcolor: #ffffff
dwm.hidbgcolor: #444444
