[Desktop Entry]
Name=awesome
Comment=Highly configurable framework window manager
TryExec=systemctl --user start --wait awesome-session.target
Exec=systemctl --user start --wait awesome-session.target
Type=Application
Icon=/usr/share/pixmaps/awesome.xpm
Keywords=Window manager
