[:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
bold-is-bright=true
cursor-blink-mode='off'
custom-command='zsh'
login-shell=false
scroll-on-keystroke=true
scroll-on-output=false
scrollback-unlimited=false
scrollbar-policy='never'
use-custom-command=true
visible-name='phelipe'
{{ colors }}
